@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.portfolio {
  padding: 2rem 1rem;
  background-color: $background-color;
  color: $primary-text-color;

  &__project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 1.25rem;
    background: $alt-bg;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.1);

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__image-wrapper {
    @include tablet {
      flex: 0.6;
    }

    @include desktop {
      flex: 1;
    }
  }

  &__image {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 .375rem 1.25rem rgba(0, 0, 0, 0.15);
    margin: 0px auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    @include tablet {
      flex: 1;
    }

    @include desktop {
      flex: 1;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $primary-text-color;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__description {
    font-size: 0.7rem;
    line-height: 1.6;
    text-align:left;
    color: $primary-text-color;

    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__tech-stack,
  &__deployment,
  &__link,
  &__git {
    font-size: 0.8rem;
    color: #444;

    @include tablet {
      font-size: 1.3rem;
    }

    a {
      display: inline-block;
      margin-top: 1rem;
      padding: .3125rem .625rem;
      background:  #134d3d;
      color: white;
      border-radius: .3125rem;
      text-decoration: none;

      &:hover {
        background:$hover-bg;
      }
    }
  }

  &__link {
    margin-top: 0.5rem;
  }

  
  &__title {
    font-size: 1.875rem;
    text-align: center;

    &:hover {
      color: $alternate-color;
      border-bottom: .125rem solid $alternate-color;
    } 
  }
}
