@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.portfolio {
  padding: 2rem 1rem;
  background-color: $background-color;
  color: $primary-text-color;

  &__project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 20px;
    background: $alt-bg;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__image-wrapper {
    @include tablet {
      flex: 0.6;
    }

    @include desktop {
      flex: 1;
    }
  }

  &__image {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin: 0px auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    @include tablet {
      flex: 1;
    }

    @include desktop {
      flex: 1;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $primary-text-color;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 2.5rem;
    }
  }

  &__description {
    font-size: 0.7rem;
    line-height: 1.6;
    text-align: justify;
    color: $primary-text-color;

    @include tablet {
      font-size: 1.3rem;
    }
  }

  &__tech-stack,
  &__deployment,
  &__link,
  &__git {
    font-size: 0.8rem;
    color: #444;

    @include tablet {
      font-size: 1.3rem;
    }

    a {
      color: $alternate-color;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        color: darken($alternate-color, 20%);
      }
    }
  }

  &__link {
    margin-top: 0.5rem;
  }
}
