@use "../partials/mixins" as *;
@use "../partials/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
