@use "../partials/mixins" as *;
@use "../partials/variables" as *;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color:$background-color;
    font-family: "Montserrat";
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}