$header-color: #4b5896;
$background-color: #fff;
$border-color: #ffffff70;
$primary-text-color: black;
$secodary-text-color: #fff;
$alternate-color: #1e6655;
$alternate-bg:rgb(255, 216, 216);
$alt-bg:linear-gradient(135deg, #f5f7fa, #c3cfe2);
$hover-bg:#1e6655;